<!DOCTYPE html>
<html>

<head>
    <title>TURISMO ESTG</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe"
        crossorigin="anonymous"></script>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css">
    <link rel="stylesheet" href="/stylesheets/events.css">
    <link rel="icon" href="/images/imagesUtils//logo-turismo-estg.png" type="image/x-icon" />
</head>

<body>

    <!----------------NAVBAR------------------>

    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
            <a class="navbar-brand" href="/heritage">TURISMO ESTG</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/heritage">Heritages</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/users">Users</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/events">Events</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/promos">Promos</a>
                      </li>
                </ul>
            </div>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/users/profile"><img src="/images/imagesUtils/user.png" width="30px" height="30px"></a>
                      </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/shopping-cart"><i
                                class="bi bi-cart-fill"></i></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/auth/logout">Logout</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <%- include ('../partials/partialErrors.ejs') %>
        <section id="banner">
            <div class="container" align="center">
                <div class="col">
                    <h1 id="title">Edit Event</h1>
                    <form action="/events/edit/<%= event._id %>" method="post" enctype="multipart/form-data">

                        <h5>ID: <%=event._id%>
                        </h5>

                        <div class="input-field">
                            <input type="file" name="eventImg" id="heritageImgInput">
                            <p id="textImg" style="color: red">
                                <%= event.imgError %>
                            </p>
                        </div>
                        <div class="row" style="display: flex;">
                            <div style="flex: 1;">
                                <p style="text-align: center;"><strong>Old Image</strong></p>
                                <img src="/images/uploads/events/<%= event.eventImg %>" width="250px" height="200px">
                            </div>
                            <div style="flex: 1;">
                                <p style="text-align: center;"><strong>New Image</strong></p>
                                <img width="250px" height="200px" id="newImagePreview">
                            </div>
                        </div>

                        <div class="input-field">
                            <input type="text" value="<%= event.name %>" name="name">
                        </div>

                        <div class="input-field">
                            <input type="date" value="<%= event.date.toISOString().slice(0, 10) %>" name="date">
                        </div>

                        <div class="input-field">
                            <input type="number" value="<%= event.price %>" name="price" min="0" step="0.01">
                        </div>

                        <div class="input-field">
                            <input type="number" value="<%= event.totalNumberTickets %>" name="totalNumberTickets"
                                min="0" step="1">
                        </div>

                        <div class="btn-field">
                            <button type="submit">Editar</button>
                            <button type="button" class="disable"><a
                                    href="/events/show/<%= event._id %>">Back</a></button>
                        </div>
                    </form>
                </div>
            </div>
        </section>
</body>

<script>
    const heritageImgInput = document.getElementById('heritageImgInput');
    const newImagePreview = document.getElementById('newImagePreview');

    heritageImgInput.addEventListener('change', function () {
        const selectedFile = heritageImgInput.files[0];
        if (selectedFile) {
            const fileReader = new FileReader();
            fileReader.onload = function () {
                newImagePreview.src = fileReader.result;
            };
            fileReader.readAsDataURL(selectedFile);
        }
    });
</script>

</html>